---
---
<!-- layouts\layout-changehistory.html -->
<!-- get modelType -->


{% include fragment-pagebegin.html %}

<div style="counter-reset: section 10" class="col-12">
  <!--ReleaseHeader--><p id="publish-box">Publish Box goes here</p><!--EndReleaseHeader-->
  {% include fragment-base-navtabs.html type='Bundle' id='genomic-test-order-trf-example' active='history' %}

  <a name="root"> </a>
  <h2 id="root">{{type}}: Bundle/genomic-test-order-trf-example - Change History</h2>
  <p>History of changes for genomic-test-order-trf-example {{type | downcase}}.</p>

  {%include Bundle-genomic-test-order-trf-example-history.xhtml%}

</div>
{% assign includetabscripts = 'true' %}
{% include fragment-pageend.html %}
